<%- include("partials/header") %>

    <section id="section2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 ">
                    <div class="homeTitle">
                        <div class="rotateText">
                            <h4>F</h4>
                            <h4>r</h4>
                            <h4>e</h4>
                            <h4>s</h4>
                            <h4>h</h4>
                        </div>
                        <div class="rotateText">
                            <h4>C</h4>
                            <h4>a</h4>
                            <h4>k</h4>
                            <h4>e</h4>
                            <h4>e</h4>
                        </div>
                    </div>
                    <h5>Delicious Cakes for <br> Your Special Event</h5>
                </div>
                <div class="col-lg-8">
                    <div class="img_1">
                        <img src="/images/cake_1.jpg" alt="">
                        <img src="/images/cake_2.jpg" alt="">
                    </div>
                    <div class="img_2">
                        <img src="/images/cake_5.jpg" alt="">
                        <img src="/images/cake_6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- -------About Section-------- -->

    <section id="aboutSection">
        <div class="container aboutSection">
            <div class="row">
                <div class="col-lg-3">
                    <div class="recipes">
                        <i class="icon fa fa-bars fa-2x"></i>
                        <h3>Recipes</h3>
                        <p>sed velit dignissim sodales ut eu sem integer vitae justo eget magna fermentum iaculis eu non
                            diam phasellus </p>
                        <button class="readmore" type="submit">Read More</button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="recipes">
                        <i class="icon fa fa-diamond fa-2x"></i>
                        <h3>Products</h3>
                        <p>sed velit dignissim sodales ut eu sem integer vitae justo eget magna fermentum iaculis eu non
                            diam phasellus </p>
                        <button class="readmore" type="submit">Read More</button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="recipes">
                        <i class="icon fa fa-birthday-cake fa-2x"></i>
                        <h3>Products</h3>
                        <p>sed velit dignissim sodales ut eu sem integer vitae justo eget magna fermentum iaculis eu non
                            diam phasellus </p>
                        <button class="readmore" type="submit">Read More</button>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div id="about">
                        <h1>About</h1>
                        <p id="whoWeAre">Who We Are</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ---------- Service Section --------- -->

    <section id="section_Service">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div id="service">
                        <h1>Service</h1>
                        <p id="whatWeDo">What We Do</p>
                    </div>
                </div>
                <div class="col-lg-9">
                    <img id="cutCake" src="/images/cut_cake.jpg" alt="">
                    <div class="container" id="seasonalPastries">
                        <i class="icon fa fa-snowflake fa-2x"></i>
                        <h3>Seasonal Pastries</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna Lorem ipsum
                            <br> dolor sit amet</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row" id="service_section-row_2">
                <div class="col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <i class="icon fa fa-thumbs-up fa-2x"></i>
                            <h3 class="card-title">Best Service</h3>
                            <p class="card-text">adipiscing enim eu turpis egestas pretium aenean pharetra magna ac
                                placerat vestibulum lectus mauris ultrices eros in cursus turpis</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <i class="icon fa fa-tv fa-2x"></i>
                            <h3 class="card-title">Online Order</h3>

                            <p class="card-text">adipiscing enim eu turpis egestas pretium aenean pharetra magna ac
                                placerat vestibulum lectus mauris ultrices eros in cursus turpis</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <i class="icon fa fa-bicycle fa-2x"></i>
                            <h3 class="card-title">Door Delivery</h3>

                            <p class="card-text">adipiscing enim eu turpis egestas pretium aenean pharetra magna ac
                                placerat vestibulum lectus mauris ultrices eros in cursus turpis</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <i class="icon fa fa-calendar fa-2x"></i>
                            <h3 class="card-title">Event Catering</h3>

                            <p class="card-text">adipiscing enim eu turpis egestas pretium aenean pharetra magna ac
                                placerat vestibulum lectus mauris ultrices eros in cursus turpis</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- -------- Section Online order -------- -->

    <section id="section_3">
        <div class="container" id="online_order">
            <div class="row">
                <div class="col-lg-6" id="row_1">
                    <h2 class="order">Online Order</h2>
                    <h2 id="get_25">Get 25%/off</h2>
                    <p id="online_order_p">adipiscing enim eu turpis egestas pretium aenean <br> pharetra magna ac
                    placerat vestibulum lectus mauris  <br> eros in cursus turpis</p>
                </div>

                <div class="col-lg-6">
                    <div class="ordernow">
                        <h2 class="order">Order Now</h2>
                        <p class="phone">Call +0497 2700489</p>
                        <p class="phone">Mobile +91 97964975572</p>
                        <button id="order_button" type="submit">Order Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ---------- Section New menu --------- -->

    <section id="section_4">
        <div class="container">
            <div class="row" id="new_menu_row_1">
                <div class="col-lg-4">
                    <div id="birthdayCake">
                        <h3>Birthday Cake</h3>
                        <p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod</p>
                        <button class="readmore" type="submit">Read More</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="cake_images">
                        <img id="cake_001" src="/images/cut_cake.jpg" alt="">
                        <img id="cake_002" src="/images/cake_9.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="newmenu">
                        <h1>New</h1>
                        <h1>Menu</h1>
                        <p id="awesomeTaste">Awesome Taste</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" id="new_menu_row_2">
                <div class="col-lg-4">
                    <img id="cake_003" src="/images/cut_cake.jpg" alt="">
                </div>
                <div class="col-lg-8">
                    <div id="event_cake">
                        <h3>Event Cake</h3>
                        <p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod</p>
                        <button class="readmore" type="submit">Read More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" id="new_menu_row_3">
                <div class="col-lg-6">
                    <div id="wedding_cake">
                        <h3>Wedding Cake</h3>
                        <p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut </p>
                        <button class="readmore" type="submit">Read More</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img id="cake_11" src="/images/cake_11.jpg" alt="">
                    <img src="/images/cake_10.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- ---------- Section-4 Clients --------- -->

    <section id="section_5">
        <div class="container">
            <div class="row" id="client_row">
                <div class="col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body client_card">
                           <img class="photo" src="images/client_2.jpeg" alt="">
                            <p class="card-text">adipiscing enim eu turpis egestas pretium aenean pharetra magna ac
                                placerat </p>
                            <h3 class="card-title">Jack will</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body client_card">
                           <img class="photo" src="images/client_2.jpeg" alt="">
                            <p class="card-text">adipiscing enim eu turpis egestas pretium aenean pharetra magna ac
                                placerat </p>
                            <h3 class="card-title">Sam Deo</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body client_card">
                           <img class="photo" src="images/client_2.jpeg" alt="">
                            <p class="card-text">adipiscing enim eu turpis egestas pretium aenean pharetra magna ac
                                placerat </p>
                            <h3 class="card-title">Max Rox</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div id="clients">
                        <h1>Clients</h1>
                        <p id="some_words">Some Words</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("partials/footer") %>